@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) {
	/* Adjust the breakpoint as needed */
	#post-display-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as needed */
		gap: 1rem; /* Adjust the gap between grid items */
	}

	.max-w-xs {
		max-width: none;
	}
}
